{% extends 'home/base.html' %}
{% block content %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="shadow p-3 mb-5 bg-body rounded">
  <div class="mb-4">
    <h1 class="page-title" style="text-align: center; color: black;">ABOUT US</h1>
    <img src="static/assets/img/ktmpost.jpg" width="100%" height="auto">
    <br/> <br/>

    <p>
    The Kathmandu Post, the country’s leading English-language daily, was launched in February 1993 as Nepal’s first private-run English-language broadsheet. The Post is the second-most widely read paper in Nepal after its sister publication, the Nepali-language Kantipur daily.<br/> <br/>

Since establishment, the Post has cultivated a reputation for reliability, veracity and breaking news. The Post’s political, business, sports, and arts and culture reporting are supplemented with opinions from some of Nepal’s, and the wider world’s, leading intellectuals and analysts.<br/> <br/>

Since July 2009, the paper has been producing a weekend supplement–On Saturday–focusing on long-form journalism, satire and creative non-fiction. Apart from its regular pages and weekly supplements, the paper also publishes yearly special issues, such as on the Gregorian New Year and on its anniversary in February.<br/><br/>

More recently, the Post has begun conducting investigations into corruption, malpractices and sexual harassment.<br/>

With an estimated daily readership of over 600,000 readers, both on the web and in print, the Post has developed a new language to tell Nepal’s stories in English to both local and international audiences.<br/>

The Post is committed to ethical journalism that privileges facts and the truth.<br/> <br/>

The Post is published simultaneously from Kathmandu, Biratnagar, Bharatpur and Nepalgunj.<br/> <br/>
</p>
</div>

 </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
     

{% endblock %} 
